<p-drawer 
  [(visible)]="visible" 
  position="left"
  [modal]="true"
  (onHide)="onSidebarHide()">
  
  <div class="sidebar-header">
    <h3>Navigation</h3>
  </div>

  <div class="sidebar-content">
    <div class="menu-section">
      <div class="menu-item" 
           *ngFor="let item of menuItems; trackBy: trackByLabel"
           (click)="onMenuItemClick(item)">
        <i [class]="item.icon" class="menu-icon"></i>
        <span class="menu-label">{{ item.label }}</span>
      </div>
    </div>
  </div>
</p-drawer>