.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.main-content {
  flex: 1;
  padding: 1rem;
  overflow: auto;
  background-color: #f8f9fa;
}
